*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
sign.properties
custom.properties
bugly-map-upload.bat
buglyqq-upload-symbol.jar
cp_buglyQqUploadSymbolLib.jar
buglybin
/app/release/
/.idea/
